.collections{
    height: auto
}
.collections--wrapper{
   display: flex;
   align-items: center;
  overflow-x: scroll;
  width: 100%;
  height: 500px;
  padding: 20px;
  background: linear-gradient(-90deg ,var(--dark-orange) 0%, var(--light-orange) 100%);
}
.collection{
    flex-shrink: 0;
  width: 300px;
  /* background-color: green; */
  height: 400px;
  margin: 10px;
  border-radius: 20px;
}
.details{
  background-color: rgb(171, 171, 171);
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}